/* Тело сайта и все элементы */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: url(../img/backgr.jpg) no-repeat;
}
/* Декорирование ссылок*/
a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  position: relative;
}
a::before {
  content: '';
  bottom: 0;
  right: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: 0.2s;
}
a:hover:before {
  width: 100%;
  left: 0;
}
/* Декорация наведения */
figure {
  padding: 10px;
  width: 100%;
  height: 30%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
figure h2 {
  transition: 0.3s;
  transform: translateY(20px);
}
figure p {
  transition: 0.3s;
  transform: translateY(-20px);
  opacity: 0;
}
figure:before {
  content: '';
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  border-top: solid 2px;
  border-bottom: solid 2px;
  transition: 0.3s;
  transform: scaleX(0);
}
figure:hover:before {
  transform: scaleX(1);
}
figure:after {
  content: '';
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  border-right: solid 2px;
  border-left: solid 2px;
  transition: 0.3s;
  transform: scaleY(0);
}
figure:hover:after {
  transform: scaleY(1);
}
figure:hover h2,
figure:hover p {
  transform: translateY(0);
  opacity: 1;
}
/* Контейнер и блок авторизации */
.containermlogin {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15%;
}
#login {
  width: 20%;
  height: 30%;
  padding: 10px;
  background: rgba(70, 130, 180, 0.7);
  border-radius: 10px;
  text-align: center;
  transition: 1s;
}
#login input:required {
  border-bottom: 2px solid red;
}
/* Блоки ошибок и успешных сообщений */
.error {
  width: 20%;
  background: rgba(178, 34, 34, 0.7);
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}
.error h1 {
  font-size: 20px;
}
.error h2 {
  font-size: 14px;
}
.good {
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  background: rgba(0, 255, 0, 0.7);
  width: 20%;
  padding: 10px;
  border-radius: 10px;
}
/* Основной блок c меню*/
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  color: #fff;
  margin: 0;
}
.main {
  background-color: #27ae60;
}
.add {
  background-color: #26a;
}
.input {
  background-color: #15eaea;
}
.param {
  background-color: #7e2e;
}
.wrapper {
  position: relative;
  overflow-x: hidden;
}
.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 30%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #fff;
  transition: 0.5s;
  transform: translateX(-100%);
}
.menu_active {
  transform: translateX(0%);
}
.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  flex-direction: column;
  height: 40%;
  width: 100%;
}
.menu-list a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
}
.menu-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: -35px;
  top: 10px;
}
.menu-btn span {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}
.menu-btn span::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: 2px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}
.menu-btn span::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}
.menu-btn_active span:before {
  transform: rotate(-45deg);
  margin-top: -1px;
  width: 10px;
  transform-origin: left bottom;
}
.menu-btn_active span:after {
  transform: rotate(45deg);
  width: 10px;
  margin-top: -1px;
  transform-origin: left top;
}
.content {
  transition: 0.5s;
  position: relative;
  z-index: 0;
}
.content_active {
  transform: translateX(30%);
}
#hidgr1 a,
#hidgr2 a,
#hidgr3 a {
  font-size: 14px;
}
#hidgr1,
#hidgr2,
#hidgr3 {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40%;
}
#hidgr1 {
  background: rgba(2, 190, 2, 0.5);
}
#hidgr2 {
  background: rgba(200, 20, 2, 0.5);
}
#hidgr3 {
  background: rgba(200, 200, 2, 0.5);
}
#gr1 {
  background: green;
}
#gr2 {
  background: red;
}
#gr3 {
  background: yellow;
}
#gr4 {
  background: brown;
}
#bot-date {
  position: absolute;
  bottom: 0;
}
#router {
  width: 100%;
  position: absolute;
  top: 0;
  padding-top: 1%;
  height: 8%;
  margin: 5px;
  text-align: center;
}
#router a {
  padding: 5px;
  margin: 2%;
  border-radius: 5px;
  background: orange;
}
#router a:hover {
  background: blue;
  color: white;
}
#view {
  margin: 10px;
  padding: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 89%;
  background: red;
  text-align: center;
}
